# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Cache
.npm
.eslintcache

# System files
.DS_Store
Thumbs.db

# Build directories
/dist
/build

# Administrative scripts
scripts/

# Other
coverage/
.vscode/
.idea/